<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template working</title>
</head>
<body>
<h1>Welcome o The Text Analyazer. Enter Your Text</h1>
<form action='analyze' method='get'>
    <textarea name='text' style='margin: 0px; width: 637px; height: 252px;'></textarea><br>
    <input type="checkbox" name="removepunc"> remove punctuation<br>
    <input type="checkbox" name="fullcaps">Uppercase<br>
    <input type="checkbox" name="newlineremover">New line<br>
    <input type="checkbox" name="spaceremover">space remover<br>
    <input type="checkbox" name="charcounter">char counter<br>
    <br><button type="submit">Analyze Text</button>


</form>
</body>
</html>